@keyframes pageload {
    from {opacity: 0}
    to {opacity: 1}
}

body {
	font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    background-color: #C3C6BF;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	animation-name: pageload;
	animation-duration: 0.5s;
}

/** Buttons **/

.btn {
	margin-top: 10px;
	padding: 0px;
	padding-top: 6px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
}

.btn-default {
	background-color: transparent;
	border-color: #fff;
}

.btn-link, .btn-link.focus, .btn-link:focus {
	background-color: transparent;
	border-color: transparent;
	text-decoration: none;
	color: #fff;
}

.btn-link:hover {
	color: #555;
	text-decoration: none;
}

/** Page Styles **/

.page {
  padding: 60px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.container {
	padding-right: 100px;
	padding-left: 100px;
}

/** Text Styles **/

.heading {
	font-weight: 700;
	font-size: 64px;
}

p {
	font-weight: 200;
	font-size: 20px;
}

.list-unstyled {
	font-weight: 200;
	font-size: 20px;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}

strong {
	font-weight: 400;
}

a {
	color: #555;
}

a:focus, a:hover {
	text-decoration: none;
	color: #E7E8E4;
}

/** Nav Bar **/

.navbar {
	border-radius: 0;
}

.navbar a {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #555;
	font-weight: 700;
}

.navbar-default .navbar-nav .active a {
	font-weight: 700;
	background-color: transparent;
}

.navbar-default {
	background-color: rgba(255,255,255,.9);
	border: none;
}

.navbar-brand {
	background-image: url(../img/LizWood.svg);
	background-repeat: no-repeat;
	height: auto;
	width: 300px;
	padding-left: 80px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 3px;
}

/** About Heading **/

#about-heading h1 {
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: 200;
}

#about-heading .btn {
	margin-bottom: 30px;
}

/** Work Front Page **/

#work {
	background-color: #E7E8E4;
}

#work img {
	padding: 20px 5px 20px 5px;
}

/** Contact Page **/

#contact .row {
	text-align: center;
}

#contact img{
	padding: 5px;
	max-width: 35px;
	display: inline-block;
	margin: auto;
}

#email-caption {
	letter-spacing: 3px;
	padding-bottom: 20px;
}

/** About, Wireframe, Prototype, Build Pages **/

#about, #wireframe, #prototype, #build {
	background-color: #E7E8E4;
}

#about h1, #prototype h1 {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 25px;
	font-weight: 200;
	text-transform: none;
	letter-spacing: 2px;
	line-height: 40px;
}

#wireframe h1, #build h1 {
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 25px;
	font-weight: 200;
	text-transform: none;
	letter-spacing: 2px;
	line-height: 40px;
}

#about p , #wireframe p, #prototype p, #build p {
	font-size: 16px;
}

#about h3 {
	padding-top: 30px;
	padding-bottom: 10px;
}

#wireframe h3 {
	padding-bottom: 40px;
}

#about h4, #wireframe h4, #build h4 {
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.icons {
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.education {
	padding: 30px;
	padding-right: 85px;
	padding-left: 85px;
}

.back-btn .btn {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 100px;
	margin-bottom: -20px;
}

.header-padding {
	padding-top: 50px;
}

.icon-padding {
	padding-top: 10px;
	padding-bottom: 70px;
}

.wireframe-icon {
	padding-left: 30px;
	padding-right: 30px;
}

/** Prototype Page **/

#build h3 {
	padding-top: 50px;
	padding-bottom: 30px;
}

.aspects {
	padding-top: 80px;
}

.prototype-img {
	padding-top: 80px;
}

.mrp-video {
	margin-top: 60px;
}

#mrp-video {
	margin-top: 40px;
}

/** Build Page **/

.build-img {
	padding-left: 50px;
	padding-right: 50px;
}

.build-paragraph {
	padding: 10px 50px 60px 50px;
}

pre {
	font-size: 12px;
	background-color: #000;
	color: #999;
    max-height: 246px;
    max-width: 246px;
    overflow-y:auto;  
}

/** Media Queries **/

@media (max-width: 768px){
	.intro {
		margin-top: 80px;
	}
	.heading {
		font-size: 48px;
	}
	.navbar-default {
	background-color: rgba(255,255,255,.8);
	border-color: none;
	text-align: center;
	}
	.navbar-default .navbar-nav>li>a:hover {
	color: #555;
	background-color: #fff;
	}
	.navbar-default .navbar-nav .active a:hover {
	color: #555;
	background-color: #fff;
	}
	.navbar-brand {
	width: 200px;
	padding-left: 50px;
	font-size: 18px;
	}
	.nav-tabs {
    font-size: 12px;
    text-align: center;
	}
	.container {
	padding-right: 25px;
	padding-left: 25px;
	}
	#about h1{
	font-size: 20px;
	}
	.education {
	padding: 30px;
	padding-right: 35px;
	padding-left: 35px;
	}
	.icons {
	padding: 20px;
	}
	.wireframe-icon {
	padding-left: 10px;
	padding-right: 10px;
	}
	.build-img {
	padding-left: 10px;
	padding-right: 10px;
	}
	.build-paragraph {
	padding: 0px 10px 30px 10px;
	}
}

@media (min-width: 768px){
	.nopadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	}
	.icons {
	padding: 30px;
	}
}

@media (min-width: 998px){
	.icons {
	padding: 50px;
	}
}


